
{% extends main_bootstrap_frame.html %}

{% block content_middle %}
<h1>CALS Floor Mailing List</h1>
<hr>
<p>Welcome to the mailing list page! For the floor, there are two mailing lists, important-no-reply@lists.calsfloor.info and no-reply@lists.calsfloor.info.
The first one (important-no-reply) will be used sparingly and only for very important information, such as notifications for winter checkout. The second one
(no-reply) will contain information about clubs, stuff on campus and other information like internship postings. This one can be unsubscribed from </p>
<hr><br>
<form action="" method="post">
    <strong>Please Select an Option:<br></strong>
    <select name="choice">
        <option value="">--Please Select--</option>
        <option value="opt-in-important">Opt-In to the <b>Important</b> Email List (for a new/separate email)</option>
        <option value="opt-out-info">Opt-Out of the General Information List (no-reply)</option>
        <option value="opt-out-info">Opt-In to the General Information List (no-reply)</option>
    </select>
    <br>
    <strong>Please Enter a Valid Email:<br></strong>
    <input name="email" type="email" placeholder="name0000@vandals.uidaho.edu">
    {% if error %}
        <br><small class="text-danger"><strong><i>{{error}}</i></strong></small>
    {% endif %}
    <br><br>
    <input type = "submit" value = "submit" />

{% endblock %}