 <head>
  <link rel="icon" href="/static/uidaho.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/static/uidaho.ico" type="image/x-icon"/>
  {% if analytics %}
    {{analytics | safe}}
  {% endif %}
  <title>{{site_title | safe}}</title>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
</head>
<body
    <div class="container">
    <h1>Staff Pages</h1>
    <hr>
    <small>These pages are intended for Residence and Housing Life Staff</small>
    <hr>
    <br>
    <ul>
        <li><a href="/staff/interactions">View Interactions Log</a></li>
        <li><a href="/staff/mailing-list">Send an Email to the Mailing List</a></li>
        <li><a href="/staff/mailing-list/help">[help] How to Use the Mailing List</a></li>
        <li><a href="/staff/roster">View Roster</a></li>
    </ul>
    </div>
</body>