 <head>
  <link rel="icon" href="/static/uidaho.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/static/uidaho.ico" type="image/x-icon"/>
  {% if analytics %}
    {{analytics | safe}}
  {% endif %}
  <title>{{site_title}}</title>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
</head>
<body
    <div class="container">
    <h1>{{page_header | safe}}</h1>
    <p><a href="/staff">(Go Back)</a></p>
    <hr>
    <small>Please enter yur password below. If you need the password, please email or text me. <strong>Only three tries are allowed. A third failed attempt will result in an IP ban as a security measure. If banned, please contact hand7029@vandals.uidaho.edu.</strong></small>
    <hr>
    <br>
    <form action="" method="post">
    {% if interactions_options %}
    <select name="choice">
        <option value="">--Please Select--</option>
        {% for item in interactions_options %}
            <option value={{item}}>{{item}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br>
    <br>
    <input name="password" type="password" placeholder="Admin Password">
    {% if error %}
        <br><small class="text-danger"><strong><i>{{error}}</i></strong></small>
    {% endif %}
    <br><br>
    <input type = "submit" value = "submit" />
    </form>
    </div>
</body>