 <head>
  <link rel="icon" href="/static/uidaho.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/static/uidaho.ico" type="image/x-icon"/>
  {% if analytics %}
    {{analytics | safe}}
  {% endif %}
  <title>{{site_title | safe}}</title>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
</head>
<body
    <div class="container">
    <h1>Mailing List</h1>
    <p><a href="/staff">(Go Back)</a></p>
    <hr>
    <strong>List Moderators: </strong>
    {% for user in list_moderators %}
        <a href=mailto:{{user}}>{{user}} </a>
    {% endfor %}
    <hr>
    {% if queue %}
        <br>
        <form>
        <div class="border border-secondary">
        {% for item in queue %}
            <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
        {% endfor %}
        <br>
        </div>
        <br>
    <select id="option">
        <option value="">--Please Select--</option>
        <option value="approve">--Approve (send immediately)--</option>
        <option value="reject">--Reject (delete immediately)--</option>
    </select>
    <br>
    <small><i>*Rejecting or approving an email sends a notification to the sender</i></small>
    <br>
    <br>
    <input id="origin_message"type="text" placeholder="Approval or Rejection Message to Originator">
    <br>
    <br>
    <input id="password"type="password" placeholder="Admin Password">
    <hr>
    <strong>Users cannot unsubscribe from this list. We need to keep it to no more than one email a week (with exception). Please use judgement.</strong>
    </form>
    {% else %}
    <br><div class="border border-danger"><p>There are no emails currently in the queue. If you are trying to send, make sure the email is sent and refresh the page. One an email is recieved for the queue, it will be sent to all moderators. A menu with options will appear here once an email requires a decision.</p></div><br>
    {% endif %}
    </div>
</body>