<head>
  <link rel="icon" href="/static/uidaho.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/static/uidaho.ico" type="image/x-icon"/>
  <title>Using the Mailing List</title>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1>Using the Mailing List</h1>
    <p><a href="/staff">(Go Back)</a></p>
    <hr>
    <p>Instructions coming soon!</p>
    </div>
</body>